extends ../layout

block content
  section.content-header
    h1 #{course.name}
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Flights
      li.active #{course.abbr}
  //- Main content
  section.content
    .row
      .col-md-6
        .box
          .box-header.with-border
            h3.box-title Terms
          .box-body.no-padding
            ul.nav.nav-pills.nav-stacked
              for term in course.Terms
                li
                  a(href="/faculty/flights/#{course.id}/term/#{term.id}")
                    | #{term.name}
                    i.fa.fa-chevron-right.pull-right
          .box-footer
            form(action="#{course.id}/term", method="POST")
              label(for="name") New Term Name
              .input-group
                input.form-control(type="text", id="name", name="name")
                span.input-group-btn
                  button.btn.btn-warning(type="submit") Create Term
        .box.box-warning
          .box-header
            h3.box-title Levels
          .box-body.table-responsive
            table.table
              tr
                td(width="50%") Name
                td Mission to complete the Level
              for level in course.Levels
                tr
                  form(action="#{course.id}/level/#{level.id}",method="POST")
                    td.text-uppercase #{level.name}
                    td
                      .input-group
                        input.form-control(type="text", id="#{level.name}-toComplete",name="to_complete",value="#{level.to_complete}")
                        span.input-group-btn
                          button.btn.btn-warning(type="submit") Save
        .box
          .box-header
            h3.box-title New Area
          .box-body
            form(action="#{course.id}/area",method="POST")
              label Include in Levels:
              .form-group
                for level in course.Levels
                  .checkbox
                    label.text-uppercase(for="level-#{level.id}")
                      input(id="level-#{level.id}", type="checkbox", name="levels[]",value="#{level.id}")
                      | #{level.name}
              .form-group
                label(for="name") Name
                input.form-control(type="text", id="name", name="name")

              .form-group
                button.btn.btn-warning(type="submit") Create Area

        .box
          .box-header
            h3.box-title Teachers
          .box-body.no-padding
            ul.nav.nav-pills.nav-stacked
              for teacher in course.Users
                li
                  a #{teacher.name}
          .box-footer
            form(action="#{course.id}/teacher",method="POST")
              .form-group
                label(for="teacher") New teacher
                select.form-control#teacher(name="UserId")
                  option Select One
                  for teacher in users
                    option(value="#{teacher.id}") #{teacher.name}
              .form-group
                button.btn.btn-warning(type="submit") Add Teacher



      .col-md-6
        .box
          .box-header.with-border
            h3.box-title Missions
          .box-body.no-padding
            ul.nav.nav-pills.nav-stacked
              for area in course.Areas
                li.active
                  a
                    | Area:&nbsp;
                    strong #{area.name}
                for mission in area.Missions
                  li
                    a(href="#") #{mission.name}
        .box
          .box-header
            h3.box-title New Mission
          .box-body

            form(action="#{course.id}/mission",method="POST")
              .form-group
                label(for="area") Area
                select.form-control#area(name="AreaId")
                  for area in course.Areas
                    option.text-uppercase(value="#{area.id}") #{area.name}
              .form-group
                label(for="name") Name
                input.form-control(type="text", id="name", name="name")

              textarea.textarea(name="description", placeholder='Description', style='width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;')

              .form-group
                button.btn.btn-warning(type="submit") Create Mission