h1 Months
ul
  for term in course.Terms
    li
      a(href="/faculty/term/#{term.id}") #{term.name}
form(action="#{course.id}/term", method="POST")
  h4 New Term
  div
    label(for="name") Name
    input(type="text", id="name", name="name")
  div
    input(type="hidden", name="CourseId", value="#{course.id}")
  div
    button(type="submit") Create Term

h1 Levels
for level in course.Levels
  form(action="#{course.id}/level/#{level.id}",method="POST")
    h3 #{level.name}
    label(for="#{level.name}-toComplete") Number of Missions to Complete Level:
    input(type="text", id="#{level.name}-toComplete",name="to_complete",value="#{level.to_complete}")
    button(type="submit") Save

h1 Missions
ul
  for area in course.Areas
    h3 #{area.name}
    for mission in area.Missions
      li #{mission.name}

form(action="#{course.id}/area",method="POST")
  h4 New Area
  div
    p Include in Levels:
    for level in course.Levels
      div
        input(type="checkbox", name="levels[]",value="#{level.id}")
        label(for="level-#{level.id}") #{level.name}
  div
    label(for="name") Name
    input(type="text", id="name", name="name")

  div
    button(type="submit") Create Area

form(action="#{course.id}/mission",method="POST")
  h4 New Area
  div
    label(for="area") Area
    select#area(name="AreaId")
      for area in course.Areas
        option(value="#{area.id}") #{area.name}
  div
    label(for="name") Name
    input(type="text", id="name", name="name")

  div
    label(for="body") Description
    input(type="text", id="body", name="body")

  div
    button(type="submit") Create Mission