extends ../layout

block content
  section.content-header.oh
    h1.pull-left
      | #{course.name}&nbsp;&nbsp;
      a.text-yellow(href="/faculty/flights/#{course.abbr}/settings")
        i.fa.fa-pencil

  //- Main content
  section.content
    h2.text-uppercase Students
    ul.timeline
      if course.Students.length === 0
        li.timeline-item.locked
          i.fa
          .timeline-item
            h3.timeline-header No Students
      for student in course.Students
        li.time-label.unlocked
          span.text-uppercase
            | #{student.name}
            //- a.pull-right(href="/faculty/student/#{student.id}") View Progress
        for studentMission in student.StudentMissions
          if studentMission.MissionStatusId === 4
            li.timeline-item.complete
              i.fa
              .timeline-item
                h3.timeline-header #{studentMission.Mission.name}
           if studentMission.MissionStatusId === 1
            li.timeline-item.select
              i.fa
              .timeline-item
                h3.timeline-header #{studentMission.Mission.name}
          if studentMission.MissionStatusId === 2
            li.timeline-item.resubmit
              i.fa
              .timeline-item
                h3.timeline-header #{studentMission.Mission.name}

          if studentMission.MissionStatusId === 3
            li.timeline-item.pending
              i.fa
              .timeline-item
                h3.timeline-header
                  | #{studentMission.Mission.name}
                  .pull-right
                    a.btn.btn-reject(href="/faculty/flights/#{course.abbr}/mission/#{studentMission.id}/2") Reject
                    | &nbsp;
                    a.btn.btn-warning(href="/faculty/flights/#{course.abbr}/mission/#{studentMission.id}/4") Accept
                .timeline-body
                  for comment in studentMission.Comments
                    include ../common/comment
                  form(action="/faculty/flights/#{course.abbr}/mission/#{studentMission.id}/comment",method="post").comment
                    h4 Add Comment
                    textarea.textarea(name="text", placeholder='Comment', style='width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;')
                    button.btn.btn-warning.timeline-btn.btn-block(type="submit") Send Comment



  #newTerm.modal.fade(role="dialog")
    .modal-dialog
      form.modal-content(action="#{course.abbr}/term", method="POST")
        .modal-header
          button.close(type="button",data-dismiss="model")
            i.fa.fa-times
          h4.modal-title
            | New Term
        .modal-body
          .form-group
            label(for="name") Name
            input.form-control(type="text", id="name", name="name")

        .modal-footer
          button.btn.btn-warning(type="submit") Create Term

  script(type='text/javascript').
    $(function () {
      $("i[href]").on('click',function(){
        var icon = $(this)
        var link = icon.attr('href');
        $.get(link);
        icon.closest('li.timeline-item').remove();
      });
    });