extends ../layout
block content
  section.content-header
    h1 #{term.name}
  //- Main content
  section.content
    ul.timeline
      li.time-label.locked
        span.text-uppercase
          | Pending Missions

      for studentMission in missions
        li.timeline-item.waiting
          .timeline-item
            i(href="/faculty/flights/#{term.CourseId}/term/#{term.id}/mission/#{studentMission.id}/4").fa
            i(href="/faculty/flights/#{term.CourseId}/term/#{term.id}/mission/#{studentMission.id}/3").fa
            h3.timeline-header #{studentMission.Mission.name}
            .timeline-body
              for comment in studentMission.Comments
                if comment.CommentTypeId === 1
                  a.embedly-card(href="#{comment.text}", data-card-width="100%")
                else
                  blockquote.embedly-card
                    strong !{comment.User.name}:&nbsp;
                    | !{comment.text}

              form(action="/faculty/flights/#{term.CourseId}/term/#{term.id}/mission/#{studentMission.id}/comment",method="post").comment
                h4 Add Comment
                textarea.textarea(name="text", placeholder='Comment', style='width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;')
                button.btn.btn-warning(type="submit") Send Comment
    .row
      .col-md-6
        .box
          .box-header
            h3.box-title Students

          .box-body.no-padding
            ul.nav.nav-pills.nav-stacked
              for student in term.Users
                li
                  a #{student.name}
          .box-footer
            form(action="#{term.id}/student",method="POST")
              .form-group
                label(for="student") New Student
                select.form-control#student(name="UserId")
                  option Select One
                  for student in users
                    option(value="#{student.id}") #{student.name}
              .form-group
                button.btn.btn-warning(type="submit") Add Student

  script(type='text/javascript').
    $(function () {
      $("i[href]").on('click',function(){
        var icon = $(this)
        var link = icon.attr('href');
        $.get(link);
        icon.closest('li.timeline-item').remove();
      });
    });