extends ../layout

block content
  //- Main content
  section.content(course-abbr="#{course.abbr}")
    if !course.Levels[0].StudentLevel
      h3 #{course.name}
      p You aren't currently particiaping in this flight.
      a.btn.btn-block.btn-warning(href="/flights/#{course.abbr}/join") Start your Training
    else
      .row
        .col-md-12
          ul.timeline#timeline
            - var previous_index = false;
            each level, index in course.Levels
              if level.to_complete
                li.time-label(class="#{previous_index !== false && lockedItems != course.Levels[previous_index].to_complete?'locked':'unlocked'}")
                  span.text-uppercase
                    | #{level.name}
                - if(previous_index !== false && lockedItems != course.Levels[previous_index].to_complete) {
                  li.timeline-item.locked
                    i.fa
                    .timeline-item
                      h3.timeline-header Complete missions in previous levels to unlock this one

                -} else {

                - lockedItems = 0; previous_index = index;
                - for (var i = 0; i < level.StudentLevel.to_complete; ++i) {

                 if !levels[index] || !levels[index].StudentMissions[i]
                    li.timeline-item.select(level-id="#{level.id}")
                      i.fa
                      .timeline-item
                        .timeline-body.collapse(id="mission-#{i}")
                            h3 Select a Mission
                            for area in level.Areas
                              .callout
                                h4 #{area.name}
                              .list-group
                                for mission in area.Missions
                                  .list-group-item.submit(mission-id="#{mission.id}")
                                    h4.list-group-heading
                                      | #{mission.name}
                                    .list-group-item-text
                                      blockquote
                                        | !{mission.description}
                                    .btn.btn-block.timeline-btn
                            .callout
                              h4 Submit Your Own
                            .list-group
                              .list-group-item.submit
                                .list-group-item-text
                                  .form-group
                                    label Title
                                    input.form-control(type="text",name="name")
                                  .form-group
                                    label Description
                                    textarea.textarea(name="description")
                                button.btn.btn-block.timeline-btn(type="submit")
                        .btn.btn-block.timeline-btn(data-toggle="collapse", href="#mission-#{i}")
                  else
                    if levels[index].StudentMissions[i].MissionStatusId === 1
                      li.timeline-item.submit(mission-id="#{levels[index].StudentMissions[i].id}")
                        i.fa
                        .timeline-item
                          h3.timeline-header
                            | #{levels[index].StudentMissions[i].Mission.name}
                            a(href="#{course.abbr}/delete/#{levels[index].StudentMissions[i].id}").pull-right
                              i.fa.fa-trash
                          .timeline-body
                            blockquote
                              | !{levels[index].StudentMissions[i].Mission.description}
                          .btn.btn-block.timeline-btn
                    else if levels[index].StudentMissions[i].MissionStatusId === 2
                      - lockedItems++
                      li.timeline-item.resubmit(mission-id="#{levels[index].StudentMissions[i].id}")
                        i.fa
                        .timeline-item
                          h3.timeline-header
                            | #{levels[index].StudentMissions[i].Mission.name}
                          .timeline-body
                            for comment in levels[index].StudentMissions[i].Comments
                              include ../common/comment
                          .btn.btn-block.timeline-btn
                    else if levels[index].StudentMissions[i].MissionStatusId === 3
                      - lockedItems++
                      li.timeline-item.pending
                        i.fa
                        .timeline-item
                          h3.timeline-header #{levels[index].StudentMissions[i].Mission.name}
                          .timeline-body
                            for comment in levels[index].StudentMissions[i].Comments
                              include ../common/comment
                    else if levels[index].StudentMissions[i].MissionStatusId === 4
                      - lockedItems++
                      li.timeline-item.complete
                        i.fa
                        .timeline-item
                          h3.timeline-header #{levels[index].StudentMissions[i].Mission.name}
                          .timeline-body
                            for comment in levels[index].StudentMissions[i].Comments
                              if comment.CommentTypeId !== 1
                                blockquote
                                  strong !{comment.User.name}:&nbsp;
                                  | !{comment.text}
                - } }

  script(type='text/javascript').
    $(function () {
      $('#timeline').on('click','.list-group-item .btn', function(event) {
          if(this.tagName === 'BUTTON')
          {
            var mission = $(this).parent();
            var name = mission.find('input').val();
            var desc = mission.find('textarea').val();
            var item = mission.closest('.timeline-item');
            var level_id = item.parent().attr('level-id');
            $.ajax({
              url: '/flights/add/mission',
              method: 'POST',
              data:{
                name: name,
                description: desc,
                LevelId: level_id,
                MissionStatusId: 1
              },
              success: function(data)
              {
                item.parent().attr('data-toggle','').attr('href','').removeClass('select').addClass('submit').attr('mission-id',data.id);
                var course_abbr = $('.content').attr('course-abbr')
                var trash = $('<a href="" class="pull-right"></a>').attr('href',course_abbr+"/delete/"+data.id).html('<i class="fa fa-trash"></i>')
                item.prepend('<div class="timeline-header"></div>').find('.timeline-header').text(name).append(trash);
                mission_descr = $("<blockquote></blockquote").text(desc)
                item.find('.timeline-body').addClass('in').attr('style','').html(mission_descr);

              }

              })

          }
          else {
            var mission = $(this).parent();
            var mission_id = mission.attr('mission-id');
            var item = mission.closest('.timeline-item');
            var level_id = item.parent().attr('level-id');
            $.ajax({
                url: '/flights/mission',
                method: 'POST',
                data: {
                  MissionId: mission_id,
                  LevelId: level_id,
                  MissionStatusId: 1
                },
                success: function(data)
                {
                  item.parent().attr('data-toggle','').attr('href','').removeClass('select').addClass('submit').attr('mission-id',data.id);
                  var course_abbr = $('.content').attr('course-abbr')
                var trash = $('<a href="" class="pull-right"></a>').attr('href',course_abbr+"/delete/"+data.id).html('<i class="fa fa-trash"></i>')
                  item.prepend('<div class="timeline-header"></div>').find('.timeline-header').text(mission.find('.list-group-heading').text()).append(trash);;
                  mission_descr = mission.find('.list-group-item-text').html();
                  item.find('.timeline-body').addClass('in').attr('style','').html(mission_descr);
                }
              });
          }
        })

        $('#timeline').on('click','.timeline-item[class*="submit"] .btn', function(event)
          {

            var item = $(this).closest('li.timeline-item');
            var body = item.find('.timeline-body')
            if(!item.hasClass('selected'))
            {
              item.prepend('<input type="text" class="submit-link" placeholder="submittion link" />')
              setTimeout(function() {
                item.addClass('selected');
              });
              body.html('');
            }
            else
            {
              var id = item.attr('mission-id');
              var link = item.find('input').val();
              var data = {
                StudentMission: {
                  id: id,
                  MissionStatusId: 3,
                },
                Comment: {
                  StudentMissionId: id,
                  text: link,
                  CommentTypeId: 1
                }
              }
              $.ajax({
                url: '/flights/mission',
                method: 'PUT',
                contentType: "application/json",
                data:  JSON.stringify(data),
                success: function(){
                  item.addClass('pending').removeClass('submit').removeClass('resubmit').removeClass('selected').find('input').remove();
                  body.append('<a class="embedly-card" data-card-width="100%" href="'+link+'">')

                }
              })
            }

          });
        });